.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: #2c2c2c;  
}
.main-title-text {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #2c2c2c;
}
.main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;
}
.image-salad {
  border-radius: 291px;
  width: 528px;
  height: 528px;
  background: url("path_to_image");
}