.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: #2c2c2c;  
}
.main-title-text {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #2c2c2c;
}
  